---
import { Suspense } from "astro-suspense/components";
import MainLayout from "../layouts/MainLayout.astro";
import ErrorExample from "../components/ErrorExample.astro";
import Code from "../components/Code.astro";
---

<MainLayout title="Errors">
  <section>
    <h1 class="text-3xl font-bold">Errors</h1>
    <p>
      An <code>error</code> slot is supported, to allow for alternative content
      to be displayed if an error occurs during rendering.
    </p>
  </section>

  <section>
    <Suspense>
      <p slot="fallback">Loading...</p>
      <p slot="error">(Intentionally) unable to load content.</p>
      <ErrorExample delay={1000} />
    </Suspense>
  </section>

  <section>
    <Code
      code={`<Suspense>
  <p slot="fallback">Loading...</p>
  <p slot="error">(Intentionally) unable to load content.</p>
  <ErrorExample delay={1000} />
</Suspense>`}
    />
  </section>
</MainLayout>
