---
import { Suspense } from "astro-suspense/components";
import SimpleExample from "../components/SimpleExample.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Code from "../components/Code.astro";
---

<MainLayout title="Astro Suspense Demo">
  <section>
    <h1 class="text-4xl font-bold">astro-suspense</h1>
    <p>Out of order streaming support for Astro.</p>
    <a
      href="https://github.com/charlie-hadden/astro-suspense"
      class="text-blue-600 hover:text-blue-800"
    >
      GitHub
    </a>
  </section>

  <section>
    <h2 class="text-2xl font-bold">Simple Demo</h2>
    <Suspense>
      <p slot="fallback">Loading...</p>
      <SimpleExample delay={2000} />
    </Suspense>
  </section>

  <section>
    <Code code="npx astro add astro-suspense" class="mb-4" />
    <Code
      code={`<Suspense>
  <p slot="fallback">Loading...</p>
  <SimpleExample delay={2000} />
</Suspense>`}
    />
  </section>

  <section>
    <h2 class="text-2xl font-bold">Other Demos</h2>
    <ul class="list-disc pl-4">
      <li>
        <a
          href="/nested"
          class="text-blue-600 visited:text-purple-500 hover:text-blue-800"
          >Nested suspense boundaries</a
        >
      </li>
      <li>
        <a
          href="/view-transitions"
          class="text-blue-600 visited:text-purple-500 hover:text-blue-800"
          >View transitions</a
        >
      </li>
      <li>
        <a
          href="/client-components"
          class="text-blue-600 visited:text-purple-500 hover:text-blue-800"
          >Hydrating client components within suspense boundaries</a
        >
      </li>
      <li>
        <a
          href="/errors"
          class="text-blue-600 visited:text-purple-500 hover:text-blue-800"
          >Handling errors</a
        >
      </li>
      <li>
        <a
          href="/prerendered"
          class="text-blue-600 visited:text-purple-500 hover:text-blue-800"
          >Prerendered pages</a
        >
      </li>
    </ul>
  </section>
</MainLayout>
