---
import { Suspense } from "astro-suspense/components";
import MainLayout from "../layouts/MainLayout.astro";
import SimpleExample from "../components/SimpleExample.astro";

export const prerender = true;
---

<MainLayout title="Prerendered pages">
  <section>
    <h1 class="text-3xl font-bold">Prerendered pages</h1>
    <p>This page is prerendered. Because of this, any suspense content is treated as though the suspense boundary is not there. Fallback states are ignored and the content is inline in the HTML.</p>
  </section>

  <section>
    <Suspense>
      <p slot="fallback">Loading...</p>
      <SimpleExample delay={1000} />
    </Suspense>
  </section>
</MainLayout>
