---
export interface Props {
  title: string;
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
    <slot name="head" />
  </head>
  <body class="p-8">
    <div class="mx-auto max-w-3xl space-y-8">
      <slot />

      {
        Astro.url.pathname !== "/" && (
          <section class="flex justify-between">
            <a href="/" class="text-blue-600 hover:text-blue-800">
              Back to index
            </a>
            <a
              href="https://github.com/charlie-hadden/astro-suspense"
              class="text-blue-600 hover:text-blue-800"
            >
              GitHub
            </a>
          </section>
        )
      }
    </div>

    <style is:global>
      .astro-code {
        @apply rounded-md p-4;
      }
    </style>
  </body>
</html>
