---
import { SuspenseViewTransitions } from "astro-suspense/components";
import MainLayout from "./MainLayout.astro";
---

<MainLayout title="View transitions">
  <SuspenseViewTransitions slot="head" />

  <section>
    <h1 class="text-3xl font-bold">View transitions</h1>
    <p>
      Support for view transitions is a little hacky, but as a proof of concept
      this works. It does require changes to Astro's default router though, so
      it's required to use <code>{"<SuspenseViewTransitions />"}</code> instead
      of Astro's default <code>{"<ViewTransitions />"}</code>.
    </p>
  </section>

  <section class="space-x-2 border-b">
    <a
      class:list={[
        "rounded-t border border-b-0 px-2 py-1 hover:bg-slate-200",
        Astro.url.pathname === "/view-transitions" && "bg-slate-300",
      ]}
      href="/view-transitions">Simple</a
    >
    <a
      class:list={[
        "rounded-t border border-b-0 px-2 py-1 hover:bg-slate-200",
        Astro.url.pathname === "/view-transitions/nested" && "bg-slate-300",
      ]}
      href="/view-transitions/nested">Nested</a
    >
    <a
      class:list={[
        "rounded-t border border-b-0 px-2 py-1 hover:bg-slate-200",
        Astro.url.pathname === "/view-transitions/client-components" &&
          "bg-slate-300",
      ]}
      href="/view-transitions/client-components">Client components</a
    >
    <a
      class:list={[
        "rounded-t border border-b-0 px-2 py-1 hover:bg-slate-200",
        Astro.url.pathname === "/view-transitions/prerendered" &&
          "bg-slate-300",
      ]}
      href="/view-transitions/prerendered">Prerendered</a
    >
  </section>

  <div class="space-y-8" transition:animate="slide">
    <slot />
  </div>
</MainLayout>
