---
import { Suspense } from "astro-suspense/components";
import ViewTransitionLayout from "../../layouts/ViewTransitionLayout.astro";
import SimpleExample from "../../components/SimpleExample.astro";
import { ReactCounter } from "../../components/ReactCounter";
import { Code } from "astro:components";
---

<ViewTransitionLayout>
  <section>
    <Suspense>
      <p slot="fallback">Loading...</p>
      <SimpleExample delay={1000} />
      <ReactCounter client:load />
    </Suspense>
  </section>

  <section>
    <Code
      theme="dark-plus"
      code={`<Suspense>
  <p slot="fallback">Loading...</p>
  <SimpleExample delay={1000} />
  <ReactCounter client:load />
</Suspense>`}
      lang="astro"
    />
  </section>
</ViewTransitionLayout>
